attrs==21.4.0
click==8.0.4
daiquiri==3.0.0
iniconfig==1.1.1
lxml==4.8.0
metapype==0.0.12
packaging==21.3
pip==22.0.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.0.1
python-json-logger==2.0.1
rfc3986==2.0.0
setuptools==60.9.3
tomli==2.0.1
wheel==0.37.1
