appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2020.4.5.1
click==7.1.2
daiquiri==2.1.1
-e git+git@github.com:PASTAplus/metapype-eml.git@4138050e5fd705cda8f4794f9d0af09df536c8a8#egg=metapype
more-itertools==8.2.0
mypy-extensions==0.4.3
packaging==20.3
pathspec==0.7.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==5.4.1
python-json-logger==0.1.11
regex==2020.4.4
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
wcwidth==0.1.9
