atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.4.16
daiquiri==1.3.0
jedi==0.12.0
more-itertools==4.2.0
parso==0.2.1
pluggy==0.6.0
prompt-toolkit==1.0.15
py==1.5.3
pytest==3.6.1
six==1.11.0
wcwidth==0.1.7
