#!/usr/bin/env python
# -*- coding: utf-8 -*-

""":Mod: config.py

:Synopsis:

:Author:
    servilla
    costa
    ide

:Created:
    7/12/18
"""
import daiquiri


logger = daiquiri.getLogger('config.py: ' + __name__)


class Config(object):
    EML_RULES = 'absolute path of EML rules JSON file'
